@model Attest.Models.ListOtv
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <title>Lk-user</title>
</head>
<body>
    <form method="post" id="formid" asp-controller="Lk" asp-action="Sort">
        <div>
            <table>
                <tr>
                    <td>
                        Дата начала
                        <input type="text" id="date" asp-for="data_nachalo">
                        <script>


                            $(function () {

                                $('#date').daterangepicker({
                                    singleDatePicker: true,
                                    showDropdowns: true,
                                    minYear: 1980,

                                    "autoApply": true,
                                    "applyLabel": "Выбрать",
                                    "cancelLabel": "Отменить",
                                    locale: {
                                        format: 'DD.MM.YYYY',
                                        "firstDay": 1
                                    }
                                });
                            });
                        </script>

                    </td>
                    <td>
                        Дата окончания
                        <input type="text" id="date_okonch" asp-for="data_konec">
                        <script>


                            $(function () {

                                $('#date_okonch').daterangepicker({
                                    singleDatePicker: true,
                                    showDropdowns: true,
                                    minYear: 2015,

                                    "autoApply": true,
                                    "applyLabel": "Выбрать",
                                    "cancelLabel": "Отменить",
                                    locale: {
                                        format: 'DD.MM.YYYY',
                                        "firstDay": 1
                                    }
                                });
                            });
                        </script>
                    </td>
                </tr>
                <tr>
                    <td>
                        Должность
                        <select id="dolg" asp-action="Sort" asp-for="dolg">

                            <option value="">Выберите должность</option>
                            <option value="ВОСПИТАТЕЛЬ">ВОСПИТАТЕЛЬ</option>
                            <option value="СТАРШИЙ ВОСПИТАТЕЛЬ">СТАРШИЙ ВОСПИТАТЕЛЬ</option>
                            <option value="МУЗЫКАЛЬНЫЙ РУКОВОДИТЕЛЬ">МУЗЫКАЛЬНЫЙ РУКОВОДИТЕЛЬ</option>
                            <option value="ИНСТРУКТОР ПО ТРУДУ">ИНСТРУКТОР ПО ТРУДУ</option>
                            <option value="КОНЦЕРТМЕЙСТЕР">КОНЦЕРТМЕЙСТЕР</option>
                            <option value="МАСТЕР ПРОИЗВОДСТВЕННОГО ОБУЧЕНИЯ">МАСТЕР ПРОИЗВОДСТВЕННОГО ОБУЧЕНИЯ</option>
                            <option value="МЕТОДИСТ">МЕТОДИСТ</option>
                            <option value="ПЕДАГОГ-БИБЛИОТЕКАРЬ">ПЕДАГОГ-БИБЛИОТЕКАРЬ</option>
                            <option value="ПЕДАГОГ ДОПОЛНИТЕЛЬНОГО ОБРАЗОВАНИЯ">ПЕДАГОГ ДОПОЛНИТЕЛЬНОГО ОБРАЗОВАНИЯ</option>
                            <option value="ПЕДАГОГ-ОРГАНИЗАТОР">ПЕДАГОГ-ОРГАНИЗАТОР</option>
                            <option value="ПЕДАГОГ-ПСИХОЛОГ">ПЕДАГОГ-ПСИХОЛОГ</option>
                            <option value="ПРЕПОДАВАТЕЛЬ">ПРЕПОДАВАТЕЛЬ</option>
                            <option value="ПРЕПОДАВАТЕЛЬ-ОРГАНИЗАТОР ОБЖ">ПРЕПОДАВАТЕЛЬ-ОРГАНИЗАТОР ОБЖ</option>
                            <option value="РУКОВОДИТЕЛЬ ФИЗИЧЕСКОГО ВОСПИТАНИЯ">РУКОВОДИТЕЛЬ ФИЗИЧЕСКОГО ВОСПИТАНИЯ</option>
                            <option value="СОЦИАЛЬНЫЙ ПЕДАГОГ">СОЦИАЛЬНЫЙ ПЕДАГОГ</option>
                            <option value="СТАРШИЙ ВОЖАТЫЙ">СТАРШИЙ ВОЖАТЫЙ</option>
                            <option value="ТРЕНЕР-ПРЕПОДАВАТЕЛЬ">ТРЕНЕР-ПРЕПОДАВАТЕЛЬ</option>
                            <option value="УЧИТЕЛЬ">УЧИТЕЛЬ</option>
                            <option value="УЧИТЕЛЬ-ЛОГОПЕД (УЧИТЕЛЬ-ДЕФЕКТОЛОГ)">УЧИТЕЛЬ-ЛОГОПЕД (УЧИТЕЛЬ-ДЕФЕКТОЛОГ)</option>
                            <option value="ИНСТРУКТОР ПО ФИЗИЧЕСКОЙ КУЛЬТУРЕ">ИНСТРУКТОР ПО ФИЗИЧЕСКОЙ КУЛЬТУРЕ</option>
                            <option value="ПРЕПОДАВАТЕЛЬ образовательной организации культуры и искусства">ПРЕПОДАВАТЕЛЬ образовательной организации культуры и искусства</option>
                            <option value="КОНЦЕРТМЕЙСТЕР образовательной организации культуры и искусства">КОНЦЕРТМЕЙСТЕР образовательной организации культуры и искусства</option>
                            <option value="ИНСТРУКТОР-МЕТОДИСТ (включая старшего)">ИНСТРУКТОР-МЕТОДИСТ (включая старшего)</option>
                        </select>
                    </td>
                    <td id="naprtr">
                        Направление по должности «учитель»
                        <select id="napr" asp-for="napr_po_dolg">
                            <option value="">Выберите напрвление</option>
                            <option value="Русский язык и литература">Русский язык и литература</option>
                            <option value="Математика">Математика</option>
                            <option value="Начальные классы">Начальные классы</option>
                            <option value="История">История</option>
                            <option value="Обществознание">Обществознание</option>
                            <option value="Кубановедение">Кубановедение</option>
                            <option value="Физика">Физика</option>
                            <option value="Химия">Химия</option>
                            <option value="Биология">Биология</option>
                            <option value="География">География</option>
                            <option value="Иностранный язык">Иностранный язык</option>
                            <option value="ИЗО, черчение">ИЗО, черчение</option>
                            <option value="Музыка">Музыка</option>
                            <option value="МХК">МХК</option>
                            <option value="Технология">Технология</option>
                            <option value="Информатика, ИКТ">Информатика, ИКТ</option>
                            <option value="Физическая культура">Физическая культура</option>
                            <option value="ОПК">ОПК</option>
                            <option value="ОБЖ">ОБЖ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        ФИО
                        <input type="text" asp-for="FIO" />
                    </td>
                    <td>

                        Ф.И.О. специалиста
                        <select id="napr" asp-for="specFIO"></select>
                    </td>
                    <td>
                        Элементов на страницу
                        <select id="edit-items-per-page" name="items_per_page">
                            <option value="5" selected="selected">5</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="250">250</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="All">- Все -</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Фильтровать">
                    </td>
                </tr>
            </table>
        </div>
        <script>
            var select = document.getElementById("dolg");
            var val = select.value;
            if (val == "УЧИТЕЛЬ") {
                $('#naprtr').show(); // показать
            }
            else {
                $('#naprtr').hide(); // показать
            }
            $('#dolg').change(function () {
                var select = document.getElementById("dolg");
                var val = select.value;
                if (val == "УЧИТЕЛЬ") {
                    $('#naprtr').show(); // показать
                }
                else {
                    $('#naprtr').hide(); // показать
                }
            })

        </script>


        <table id="table">
            <tr>







                <th>№ по списку</th>
                <th> @Html.ActionLink("№ заявления", "Sort", "Lk", new { data_nachalo = Model.data_nachalo, data_konec = Model.data_konec, dolg = Model.dolg, Fio = Model.FIO, specFio = Model.specFIO, sortOrder = ViewBag.NomZayav }) </th>
                <th> @Html.ActionLink("ФИО", "Sort", "Lk", new { data_nachalo = Model.data_nachalo, data_konec = Model.data_konec, dolg = Model.dolg, Fio = Model.FIO, specFio = Model.specFIO, sortOrder = ViewBag.Name })</th>
                <th> @Html.ActionLink("Дата подачи", "Sort", "Lk", new { data_nachalo = Model.data_nachalo, data_konec = Model.data_konec, dolg = Model.dolg, Fio = Model.FIO, specFio = Model.specFIO, sortOrder = ViewBag.DataPodach })</th>
                <th> @Html.ActionLink("Муниципальное образование", "Sort", "Lk", new { data_nachalo = Model.data_nachalo, data_konec = Model.data_konec, dolg = Model.dolg, Fio = Model.FIO, specFio = Model.specFIO, sortOrder = ViewBag.Mo })</th>
                <th>Место работы</th>
                <th>Занимаемая должность и должность по которой прошу провести аттестацию</a></th>
                <th>Направление по должности «учитель»</th>
                <th>Аттестация на квалификационную категорию</th>
                <th> @Html.ActionLink("Статус заявления", "Sort", "Lk", new { data_nachalo = Model.data_nachalo, data_konec = Model.data_konec, dolg = Model.dolg, Fio = Model.FIO, specFio = Model.specFIO, sortOrder = ViewBag.Status })</th>
                <th>Копия приказа</th>
                <th> @Html.ActionLink("Специалист", "Sort", "Lk", new { data_nachalo = Model.data_nachalo, data_konec = Model.data_konec, dolg = Model.dolg, Fio = Model.FIO, specFio = Model.specFIO, sortOrder = ViewBag.Spe })</th>
                <th> @Html.ActionLink("Итоговый результат", "Sort", "Lk", new { data_nachalo = Model.data_nachalo, data_konec = Model.data_konec, dolg = Model.dolg, Fio = Model.FIO, specFio = Model.specFIO, sortOrder = ViewBag.Bal })</th>


            </tr>



            @for (int i = 0; i < Model.ListOtvetstven.Count; i++)
            {


                <tr>
                    <td> @(i + 1)</td>
                    <td> @Model.ListOtvetstven[i].Id</td>
                    <td>  @Html.ActionLink(Model.ListOtvetstven[i].name, "OpenZayavProsmExp", "User", new { id = Model.ListOtvetstven[i].Id })</td>
                    <td> @Model.ListOtvetstven[i].data_podachi</td>
                    <td> @Model.ListOtvetstven[i].mo</td>
                    <td> @Model.ListOtvetstven[i].oo</td>
                    <td> @Model.ListOtvetstven[i].dolgnost</td>
                    <td> @Model.ListOtvetstven[i].narp_po_dolg</td>
                    <td> @Model.ListOtvetstven[i].kategor</td>
                    <td> @Model.ListOtvetstven[i].status</td>
                    <td>
                        @if (Model.ListOtvetstven[i].file != "")
                        {
                            @Html.ActionLink("Скачать", "file", "user", new { name_f = Model.ListOtvetstven[i].file, id = Model.ListOtvetstven[i].Id })
                        }
                    </td>
                    <td> @Model.ListOtvetstven[i].spec</td>
                    <td> @Model.ListOtvetstven[i].ball</td>

                </tr>
            }
        </table>
        <table id="perekl">
            <tr>
                <td> <input type="button" id="nazad" onclick="addfunc();" value="Назад"></td>
                <td> <input type="text" id="str" value="1"  onchange="isright(this);"  min="1" max="100"></td>
                <td> <input type="button" id="vpered" onclick="addfunc();" value="Вперёд"></td>
            </tr>
        </table>
    </form>
    <script>




       /* function isright(obj) {
            var value = +obj.value.replace(/\D/g, '') || 0;
            var min = +obj.getAttribute('min');
            var max = +obj.getAttribute('max');
            obj.value = Math.min(max, Math.max(min, value));
          obj.getAttribute('max').val = 110;
        }*/
       
        var kol = parseInt(document.getElementById('edit-items-per-page').value);
        var table = document.getElementById('table');
        var rows = table.rows;
        var kol_str = Math.floor(rows.length / kol); 
     
        document.getElementById('str').onchange = function () {
        
            if (this.value <= kol_str)
                pereresovka();
            else {
                this.value = kol_str;
                pereresovka();
            }
        }


        document.getElementById('edit-items-per-page').onchange = function()
        {
            //getElementById('str').m
            pereresovka();
        };
    
       
     
        for (var i = 1; i < rows.length; i++) {
          //  alert(rows.length);
         //   alert(i);
            if (i > 10)
            rows[i].style.display = 'none';
        };
      document.addEventListener('DOMContentLoaded',function () {
            
            pereresovka();
        });
        function pereresovka() {
            var str = parseInt(document.getElementById('str').value)-1;
            var kol = parseInt(document.getElementById('edit-items-per-page').value);
            for (var i = 1; i < rows.length; i++) {
                //  alert(rows.length);
                //   alert(i);
               
                if (i > kol * str && i <=parseInt(kol * str,10)+kol)
                    rows[i].style.display = '';
                else
                    rows[i].style.display = 'none';
            };
        }
   
       



           document.getElementById("vpered").addEventListener('click', function () {
                var val = document.getElementById('str').value;
               
                document.getElementById('str').value = parseInt(val, 10) + 1;
               if (document.getElementById('str').value <= kol_str)
                   pereresovka();
               else {
                   document.getElementById('str').value = kol_str;
                   pereresovka();
               }
            });

            document.getElementById("nazad").addEventListener('click', function () {
                var val = document.getElementById('str').value;
               
                document.getElementById('str').value = parseInt(val, 10) - 1;
                if (document.getElementById('str').value>0)
                    pereresovka();
                else {
                    document.getElementById('str').value = 1;
                    pereresovka();
                }

            });
        



        </script>
</body>
</html>