
@using System.Linq
@using Attest.Models
@using Microsoft.EntityFrameworkCore.Internal
@model Attest.Models.CompositeModel

<!DOCTYPE html>


<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <title>Заявление</title>
</head>
<body>

    <form method="post" id="formId" name="MainForm" onsubmit="return Check()" asp-controller="User" asp-action="ZayavSaveEdit">

        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                    <h4 class="panel-title" style="position: relative; padding:10px">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                            Данные для аттестации
                        </a>
                    </h4>
                </div>
                <div id="collapse0" class="collapse in show">
                    <div class="panel-body">

                        <table>
                            <tr>
                                <td>Должность, по которой прошу провести аттестацию</td>
                                <td>

                                    <select id="dolg" asp-for="Zayavlen.dolgnost_att" required>

                                        <option value="">Выберите должность</option>
                                        <option value="ВОСПИТАТЕЛЬ">ВОСПИТАТЕЛЬ</option>
                                        <option value="СТАРШИЙ ВОСПИТАТЕЛЬ">СТАРШИЙ ВОСПИТАТЕЛЬ</option>
                                        <option value="МУЗЫКАЛЬНЫЙ РУКОВОДИТЕЛЬ">МУЗЫКАЛЬНЫЙ РУКОВОДИТЕЛЬ</option>
                                        <option value="ИНСТРУКТОР ПО ТРУДУ">ИНСТРУКТОР ПО ТРУДУ</option>
                                        <option value="КОНЦЕРТМЕЙСТЕР">КОНЦЕРТМЕЙСТЕР</option>
                                        <option value="МАСТЕР ПРОИЗВОДСТВЕННОГО ОБУЧЕНИЯ">МАСТЕР ПРОИЗВОДСТВЕННОГО ОБУЧЕНИЯ</option>
                                        <option value="МЕТОДИСТ">МЕТОДИСТ</option>
                                        <option value="ПЕДАГОГ-БИБЛИОТЕКАРЬ">ПЕДАГОГ-БИБЛИОТЕКАРЬ</option>
                                        <option value="ПЕДАГОГ ДОПОЛНИТЕЛЬНОГО ОБРАЗОВАНИЯ">ПЕДАГОГ ДОПОЛНИТЕЛЬНОГО ОБРАЗОВАНИЯ</option>
                                        <option value="ПЕДАГОГ-ОРГАНИЗАТОР">ПЕДАГОГ-ОРГАНИЗАТОР</option>
                                        <option value="ПЕДАГОГ-ПСИХОЛОГ">ПЕДАГОГ-ПСИХОЛОГ</option>
                                        <option value="ПРЕПОДАВАТЕЛЬ">ПРЕПОДАВАТЕЛЬ</option>
                                        <option value="ПРЕПОДАВАТЕЛЬ-ОРГАНИЗАТОР ОБЖ">ПРЕПОДАВАТЕЛЬ-ОРГАНИЗАТОР ОБЖ</option>
                                        <option value="РУКОВОДИТЕЛЬ ФИЗИЧЕСКОГО ВОСПИТАНИЯ">РУКОВОДИТЕЛЬ ФИЗИЧЕСКОГО ВОСПИТАНИЯ</option>
                                        <option value="СОЦИАЛЬНЫЙ ПЕДАГОГ">СОЦИАЛЬНЫЙ ПЕДАГОГ</option>
                                        <option value="СТАРШИЙ ВОЖАТЫЙ">СТАРШИЙ ВОЖАТЫЙ</option>
                                        <option value="ТРЕНЕР-ПРЕПОДАВАТЕЛЬ">ТРЕНЕР-ПРЕПОДАВАТЕЛЬ</option>
                                        <option value="УЧИТЕЛЬ">УЧИТЕЛЬ</option>
                                        <option value="УЧИТЕЛЬ-ЛОГОПЕД (УЧИТЕЛЬ-ДЕФЕКТОЛОГ)">УЧИТЕЛЬ-ЛОГОПЕД (УЧИТЕЛЬ-ДЕФЕКТОЛОГ)</option>
                                        <option value="ИНСТРУКТОР ПО ФИЗИЧЕСКОЙ КУЛЬТУРЕ">ИНСТРУКТОР ПО ФИЗИЧЕСКОЙ КУЛЬТУРЕ</option>
                                        <option value="ПРЕПОДАВАТЕЛЬ образовательной организации культуры и искусства">ПРЕПОДАВАТЕЛЬ образовательной организации культуры и искусства</option>
                                        <option value="КОНЦЕРТМЕЙСТЕР образовательной организации культуры и искусства">КОНЦЕРТМЕЙСТЕР образовательной организации культуры и искусства</option>
                                        <option value="ИНСТРУКТОР-МЕТОДИСТ (включая старшего)">ИНСТРУКТОР-МЕТОДИСТ (включая старшего)</option>
                                    </select>


                                </td>
                            </tr>

                            <tr id="naprtr">
                                <td>Направление</td>
                                <td>
                                    <select id="napr" asp-for="Zayavlen.uch_stepen">
                                        <option value="">Выберите напрвление</option>
                                        <option value="Русский язык и литература">Русский язык и литература</option>
                                        <option value="Математика">Математика</option>
                                        <option value="Начальные классы">Начальные классы</option>
                                        <option value="История">История</option>
                                        <option value="Обществознание">Обществознание</option>
                                        <option value="Кубановедение">Кубановедение</option>
                                        <option value="Физика">Физика</option>
                                        <option value="Химия">Химия</option>
                                        <option value="Биология">Биология</option>
                                        <option value="География">География</option>
                                        <option value="Иностранный язык">Иностранный язык</option>
                                        <option value="ИЗО, черчение">ИЗО, черчение</option>
                                        <option value="Музыка">Музыка</option>
                                        <option value="МХК">МХК</option>
                                        <option value="Технология">Технология</option>
                                        <option value="Информатика, ИКТ">Информатика, ИКТ</option>
                                        <option value="Физическая культура">Физическая культура</option>
                                        <option value="ОПК">ОПК</option>
                                        <option value="ОБЖ">ОБЖ</option>
                                    </select>
                                </td>
                            </tr>


                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var select = document.getElementById("dolg");
            var val = select.value;
            if (val == "УЧИТЕЛЬ") {
                $('#naprtr').show(); // показать
            }
            else {
                $('#naprtr').hide(); // показать
            }
            $('#dolg').change(function () {
                var select = document.getElementById("dolg");
                var val = select.value;
                if (val == "УЧИТЕЛЬ") {
                    $('#naprtr').show(); // показать
                }
                else {
                    $('#naprtr').hide(); // показать
                }
            })

        </script>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Общая информация
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table>
                        <tr>
                            <td>№ заявления</td>
                            <td>
                                <input type="text" asp-for="Zayavlen.Id" readonly />
                            </td>
                        </tr>
                        @*<tr>
                                <td>ФИО</td>
                                <td>
                                    <input type="text" asp-for="fio" />
                                </td>
                            </tr>*@
                        <tr>
                            <td>МО</td>
                            <td>
                                <select id="napr" class="req" asp-for="Zayavlen.mo" data-validate>
                                    <option value="">Выберите МО</option>
                                    <option value='1'>Абинский</option>
                                    <option value='2'>Анапский</option>
                                    <option value='3'>Апшеронский</option>
                                    <option value='4'>Армавир</option>
                                    <option value='5'>Белоглинский</option>
                                    <option value='6'>Белореченский</option>
                                    <option value='7'>Брюховецкий</option>
                                    <option value='8'>Выселковский</option>
                                    <option value='9'>Геленджик</option>
                                    <option value='10'>Горячий Ключ</option>
                                    <option value='11'>Гулькевичский</option>
                                    <option value='12'>Динской</option>
                                    <option value='13'>Ейский</option>
                                    <option value='14'>Кавказский</option>
                                    <option value='15'>Калининский</option>
                                    <option value='16'>Каневской</option>
                                    <option value='17'>Кореновский</option>
                                    <option value='18'>Красноармейский</option>
                                    <option value='19'>Краснодар</option>
                                    <option value='20'>Крыловский</option>
                                    <option value='21'>Крымский</option>
                                    <option value='22'>Курганинский</option>
                                    <option value='23'>Кущевский</option>
                                    <option value='24'>Лабинский</option>
                                    <option value='25'>Ленинградский</option>
                                    <option value='26'>Мостовский</option>
                                    <option value='27'>Новокубанский</option>
                                    <option value='28'>Новопокровский</option>
                                    <option value='29'>Новороссийск</option>
                                    <option value='30'>Отрадненский</option>
                                    <option value='31'>Павловский</option>
                                    <option value='32'>Приморско-Ахтарский</option>
                                    <option value='33'>Северский</option>
                                    <option value='34'>Славянский</option>
                                    <option value='35'>Сочи</option>
                                    <option value='36'>Староминский</option>
                                    <option value='37'>Тбилисский</option>
                                    <option value='38'>Темрюкский</option>
                                    <option value='39'>Тимашевский</option>
                                    <option value='40'>Тихорецкий</option>
                                    <option value='41'>Туапсинский</option>
                                    <option value='42'>Успенский</option>
                                    <option value='43'>Усть-Лабинский</option>
                                    <option value='44'>Щербиновский</option>

                                </select>
                                <span class="some-form__hint">Обязательно для заполнения</span>
                            </td>
                        </tr>
                        <tr>
                            <td>ОО</td>
                            <td>
                                <input type="text" class="req" asp-for="Zayavlen.oo" data-validate required />
                                <span class="some-form__hint">Обязательно для заполнения</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Должность</td>
                            <td>
                                <select id="dolg" asp-for="Zayavlen.dolgnost_imeyu">

                                    <option value="">Выберите текущую должность</option>
                                    <option value="ВОСПИТАТЕЛЬ">ВОСПИТАТЕЛЬ</option>
                                    <option value="СТАРШИЙ ВОСПИТАТЕЛЬ">СТАРШИЙ ВОСПИТАТЕЛЬ</option>
                                    <option value="МУЗЫКАЛЬНЫЙ РУКОВОДИТЕЛЬ">МУЗЫКАЛЬНЫЙ РУКОВОДИТЕЛЬ</option>
                                    <option value="ИНСТРУКТОР ПО ТРУДУ">ИНСТРУКТОР ПО ТРУДУ</option>
                                    <option value="КОНЦЕРТМЕЙСТЕР">КОНЦЕРТМЕЙСТЕР</option>
                                    <option value="МАСТЕР ПРОИЗВОДСТВЕННОГО ОБУЧЕНИЯ">МАСТЕР ПРОИЗВОДСТВЕННОГО ОБУЧЕНИЯ</option>
                                    <option value="МЕТОДИСТ">МЕТОДИСТ</option>
                                    <option value="ПЕДАГОГ-БИБЛИОТЕКАРЬ">ПЕДАГОГ-БИБЛИОТЕКАРЬ</option>
                                    <option value="ПЕДАГОГ ДОПОЛНИТЕЛЬНОГО ОБРАЗОВАНИЯ">ПЕДАГОГ ДОПОЛНИТЕЛЬНОГО ОБРАЗОВАНИЯ</option>
                                    <option value="ПЕДАГОГ-ОРГАНИЗАТОР">ПЕДАГОГ-ОРГАНИЗАТОР</option>
                                    <option value="ПЕДАГОГ-ПСИХОЛОГ">ПЕДАГОГ-ПСИХОЛОГ</option>
                                    <option value="ПРЕПОДАВАТЕЛЬ">ПРЕПОДАВАТЕЛЬ</option>
                                    <option value="ПРЕПОДАВАТЕЛЬ-ОРГАНИЗАТОР ОБЖ">ПРЕПОДАВАТЕЛЬ-ОРГАНИЗАТОР ОБЖ</option>
                                    <option value="РУКОВОДИТЕЛЬ ФИЗИЧЕСКОГО ВОСПИТАНИЯ">РУКОВОДИТЕЛЬ ФИЗИЧЕСКОГО ВОСПИТАНИЯ</option>
                                    <option value="СОЦИАЛЬНЫЙ ПЕДАГОГ">СОЦИАЛЬНЫЙ ПЕДАГОГ</option>
                                    <option value="СТАРШИЙ ВОЖАТЫЙ">СТАРШИЙ ВОЖАТЫЙ</option>
                                    <option value="ТРЕНЕР-ПРЕПОДАВАТЕЛЬ">ТРЕНЕР-ПРЕПОДАВАТЕЛЬ</option>
                                    <option value="УЧИТЕЛЬ">УЧИТЕЛЬ</option>
                                    <option value="УЧИТЕЛЬ-ЛОГОПЕД (УЧИТЕЛЬ-ДЕФЕКТОЛОГ)">УЧИТЕЛЬ-ЛОГОПЕД (УЧИТЕЛЬ-ДЕФЕКТОЛОГ)</option>
                                    <option value="ИНСТРУКТОР ПО ФИЗИЧЕСКОЙ КУЛЬТУРЕ">ИНСТРУКТОР ПО ФИЗИЧЕСКОЙ КУЛЬТУРЕ</option>
                                    <option value="ПРЕПОДАВАТЕЛЬ образовательной организации культуры и искусства">ПРЕПОДАВАТЕЛЬ образовательной организации культуры и искусства</option>
                                    <option value="КОНЦЕРТМЕЙСТЕР образовательной организации культуры и искусства">КОНЦЕРТМЕЙСТЕР образовательной организации культуры и искусства</option>
                                    <option value="ИНСТРУКТОР-МЕТОДИСТ (включая старшего)">ИНСТРУКТОР-МЕТОДИСТ (включая старшего)</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Категория</td>
                            <td>

                                <select id="kategor" asp-for="Zayavlen.kategor">

                                    <option value="">Выберите категорию</option>
                                    <option value="Первая">Первая</option>
                                    <option value="Высшая">Высшая</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td>Дата последней аттестации</td>
                            <td>


                                <input type="text" asp-for="Zayavlen.data_last_att" id="date">
                                <script>

                                    $(function () {
                                        $('#date').daterangepicker({
                                            singleDatePicker: true,
                                            locale: {
                                                format: 'DD.MM.YYYY',
                                                "firstDay": 1
                                            }
                                        });
                                    });
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td>Категория работника</td>
                            <td>
                                <input type="text" asp-for="Zayavlen.kategor_rabot" />
                            </td>
                        </tr>
                        <tr>
                            <td>Дата подачи заявления</td>
                            <td>
                                <input type="text" asp-for="Zayavlen.data_podachi" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>Дата обновления заявления</td>
                            <td>
                                <input type="text" asp-for="Zayavlen.data_obnovl" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td>
                                <input type="text" asp-for="Zayavlen.status" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>Итоговый балл</td>
                            <td>
                                <input type="text" asp-for="Zayavlen.ball" readonly />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Образование
                    </a>

                    <button style="position: absolute; right: 0.3em; top:0em; margin:0; font:28pt;" data-toggle="modal" data-target="#obr" form="0"><strong>+</strong></button>
                </h4>

            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listObrazovan)
                        {
                            @if (row.tip_obr == 1)
                            {
                                <li><a href="#Obr_@row.Id" data-toggle="tab">@row.oo</a></li>
                            }
                        }
                    </ul>
                    <div class="tab-content">
                        @for (int i = 0; i < Model.listObrazovan.Count; i++)
                        {
                            @if (Model.listObrazovan[i].tip_obr == 1)
                            {
                                <input type="hidden" asp-for="listObrazovan[i].Id" />
                                <input type="hidden" asp-for="listObrazovan[i].id_zayavl" />
                                <input type="hidden" asp-for="listObrazovan[i].tip_obr" />
                                <div class="tab-pane fade " id="Obr_@Model.listObrazovan[i].Id">
                                    <table>
                                        <tr>
                                            <td>ОО</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].oo" value="@Model.listObrazovan[i].oo" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Периодобучения</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].period" value="@Model.listObrazovan[i].period" pattern="[0-9]{4} - [0-9]{4}" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Муниципалитет</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].mo" value="@Model.listObrazovan[i].mo" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Специальность</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].special" value="@Model.listObrazovan[i].special" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Квалификация</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].kvalif" value="@Model.listObrazovan[i].kvalif" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Тип документа</td>
                                            <td>
                                                <select asp-for="listObrazovan[i].nazv_doc">
                                                    <option label="Справка с места учебы" value="TrainingCertificate">Справка с места учебы</option>
                                                    <option label="Свидетельство об освоении предпрофессиональной программы в области искусств" value="PreprofessionalArtsMasteringCertificate">Свидетельство об освоении предпрофессиональной программы в области искусств</option>
                                                    <option label="Другой документ об образовании" value="AnotherEducationDocument" selected="selected">Другой документ об образовании</option>
                                                    <option label="Другой документ об обучении" value="AnotherTrainingDocument">Другой документ об обучении</option>
                                                    <option label="Аттестат о среднем общем образовании" value="SecondaryGeneralEducationCertificate">Аттестат о среднем общем образовании</option>
                                                    <option label="Аттестат об основном общем образовании" value="SecondaryBasicEducationCertificate">Аттестат об основном общем образовании</option>
                                                    <option label="Диплом о среднем профессиональном образовании" value="SecondaryProfEducationDiploma">Диплом о среднем профессиональном образовании</option>
                                                    <option label="Диплом бакалавра" value="BachelorDegree">Диплом бакалавра</option>
                                                    <option label="Диплом специалиста" value="SpecialistDiploma">Диплом специалиста</option>
                                                    <option label="Диплом магистра" value="MasterDegree">Диплом магистра</option>
                                                    <option label="Диплом об окончании аспирантуры (адъюнктуры)" value="PostgraduateDiploma">Диплом об окончании аспирантуры (адъюнктуры)</option>
                                                    <option label="Диплом об окончании ординатуры" value="ResidencyCompletionDiploma">Диплом об окончании ординатуры</option>
                                                    <option label="Диплом об окончании ассистентуры-стажировки" value="InternshipAssistantCompletionDiploma">Диплом об окончании ассистентуры-стажировки</option>
                                                    <option label="Удостоверение о повышении квалификации" value="ProfessionalDevelopmentCertificate">Удостоверение о повышении квалификации</option>
                                                    <option label="Диплом о профессиональной переподготовке" value="ProfessionalRetrainingDiploma">Диплом о профессиональной переподготовке</option>
                                                    <option label="Свидетельство о профессии рабочего, должности служащего" value="WorkerCertificate">Свидетельство о профессии рабочего, должности служащего</option>
                                                    <option label="Свидетельство об обучении для лиц с ограниченными возможностями здоровья (с различными формами умственной отсталости)" value="PersonsWithDisabilitiesEducationCertificate">Свидетельство об обучении для лиц с ограниченными возможностями здоровья (с различными формами умственной отсталости)</option>
                                                </select>
                                                @*<script>
                                                    $("#nazv_doc_@row.Id").val("@row.nazv_doc").change()
                                                        </script>*@
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Серия</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].ser_doc" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Номер документа</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].nom_doc" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Дата выдачи</td>
                                            <td>
                                                <input type="text" id="d_v_o_@i" asp-for="listObrazovan[i].data_doc" />
                                                <script>
                                                        $(function () {
                                                            $('#d_v_o_@i').daterangepicker({
                                                                singleDatePicker: true,
                                                                locale: {
                                                                    format: 'DD.MM.YYYY',
                                                                    "firstDay": 1
                                                                }
                                                            });
                                                        });
                                                </script>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Регистрационный номер</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].reg_nom" />
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            }
                        }




                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <h4 style="position: relative; padding:10px" class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Курсы повышения квалификации
                    </a>
                    <button style="position: absolute; right: 0.3em; top:0em; margin:0; font:28pt;" data-toggle="modal" data-target="#kurs" form="0"><strong>+</strong></button>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listObrazovan)
                        {
                            @if (row.tip_obr == 2)
                            {
                                <li><a href="#Kurs_@row.Id" data-toggle="tab">ОО @row.oo</a></li>

                            }
                        }
                    </ul>
                    <div class="tab-content">
                        @for (int i = 0; i < Model.listObrazovan.Count; i++)

                        {
                            @if (Model.listObrazovan[i].tip_obr == 2)
                            {
                                <input type="hidden" asp-for="listObrazovan[i].Id" />
                                <input type="hidden" asp-for="listObrazovan[i].id_zayavl" />
                                <input type="hidden" asp-for="listObrazovan[i].tip_obr" />
                                <div class="tab-pane fade " id="Kurs_@Model.listObrazovan[i].Id">

                                    <table>
                                        <tr>
                                            <td>Организация</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].oo" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Периодобучения</td>
                                            <td>

                                                <input type="text" name="daterange_@i" asp-for="listObrazovan[i].period" />


                                                <script>

                                                        $(function () {
                                                            $('input[name="daterange_@i"]').daterangepicker({
                                                                opens: 'left',
                                                                locale: {
                                                                    "format": "DD.MM.YYYY",
                                                                    "autoApply": true,
                                                                    "applyLabel": "Выбрать",
                                                                    "cancelLabel": "Отменить",
                                                                    "firstDay": 1
                                                                }
                                                            });
                                                        });
                                                </script>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Место прохождения</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].mo" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Кол-во часов</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].kol_chas" pattern="^[ 0-9]+$" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Тема курсов</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].special" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Форма участия/проведения</td>
                                            <td>

                                                <select asp-for="listObrazovan[i].kvalif">
                                                    <option value="">Выберите форму проведения</option>
                                                    <option label="Очная" value="FullTime">Очная</option>
                                                    <option label="Дистанционная" value="Distance">Дистанционная</option>
                                                    <option label="Очно-дистанционная" value="FullTimeDistance">Очно-дистанционная</option>
                                                    <option label="Заочная" value="Extramural">Заочная</option>
                                                </select>
                                                @*<script>
                                                    $("#kvalif_@row.Id").val("@row.kvalif").change()
                                                        </script>*@
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Название документа</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].nazv_doc" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Серия</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].ser_doc" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Номер документа</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].nom_doc" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Дата выдачи</td>
                                            <td>
                                                <input type="text" id="d_v_k_@i" asp-for="listObrazovan[i].data_doc" />
                                                <script>

                                                        $(function () {
                                                            $('#d_v_k_@i').daterangepicker({
                                                                singleDatePicker: true,
                                                                locale: {
                                                                    format: 'DD.MM.YYYY',
                                                                    "firstDay": 1
                                                                }
                                                            });
                                                        });
                                                </script>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Регистрационный номер</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].reg_nom" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        Второе высшее образование и профессиональная переподготовка
                    </a>
                    <button style="position: absolute; right: 0.3em; top:0em; margin:0; font:28pt;" data-toggle="modal" data-target="#Vtor" form="0"><strong>+</strong></button>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listObrazovan)
                        {
                            @if (row.tip_obr == 3)
                            {
                                <li><a href="#Vtor_@row.Id" data-toggle="tab">Второе высшее №@row.Id</a></li>

                            }
                        }
                    </ul>
                    <div class="tab-content">
                        @for (int i = 0; i < Model.listObrazovan.Count; i++)
                        {
                            @if (Model.listObrazovan[i].tip_obr == 3)
                            {
                                <input type="hidden" asp-for="listObrazovan[i].Id" />
                                <input type="hidden" asp-for="listObrazovan[i].id_zayavl" />
                                <input type="hidden" asp-for="listObrazovan[i].tip_obr" />
                                <div class="tab-pane fade " id="Vtor_@Model.listObrazovan[i].Id">

                                    <table>
                                        <tr>
                                            <td>Организация</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].oo" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Периодобучения</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].period" pattern="[0-9]{4} - [0-9]{4}" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Место прохождения</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].mo" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Кол-во часов</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].kol_chas" pattern="^[ 0-9]+$" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Вид обучения</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].vid_obuch" />
                                            </td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>Специальность</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].special" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Квалификация</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].kvalif" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Название документа</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].nazv_doc" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Серия</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].ser_doc" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Номер документа</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].nom_doc" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Дата выдачи</td>
                                            <td>
                                                <input type="text" id="d_v_vw_@i" asp-for="listObrazovan[i].data_doc" />
                                                <script>

                                                        $(function () {
                                                            $('#d_v_vw_@i').daterangepicker({
                                                                singleDatePicker: true,
                                                                locale: {
                                                                    format: 'DD.MM.YYYY',
                                                                    "firstDay": 1
                                                                }
                                                            });
                                                        });
                                                </script>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Регистрационный номер</td>
                                            <td>
                                                <input type="text" asp-for="listObrazovan[i].reg_nom" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        Файлы
                    </a>
                    <button style="position: absolute; right: 0.3em; top:0em; margin:0; font:28pt;" data-toggle="modal" data-target="#File" form="0"><strong>+</strong></button>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse in">
                <div class="panel-body">
                    @*//Button trigger modal*@

                    @*@for(int i=0;i<Model.listFile.Count;i++)
                         {

                             <input type="text" asp-for="listFile[i].name_f" value="@Model.listFile[i].name_f"readonly/>
                            <input type="text" asp-for="listFile[i].id_zayavl" value="@Model.listFile[i].id_zayavl"readonly/>
                            <select   asp-for="listFile[i].kategor_f" >
                                <option value="">Выберите категорию файла</option>
                                <option label="Заявление о проведении аттестации" value="AttestApplication">Заявление о проведении аттестации</option>
                                <option label="Копия аттестационного листа предыдущей аттестации" value="PrevAttestCopy">Копия аттестационного листа предыдущей аттестации</option>
                                <option label="Раздел I" value="Section1">Раздел I</option>
                                <option label="Раздел II" value="Section2">Раздел II</option>
                                <option label="Раздел III" value="Section3">Раздел III</option>
                                <option label="Раздел IV" value="Section4">Раздел IV</option>
                                <option label="Раздел V" value="Section5">Раздел V</option>
                                <option label="Согласие на обработку персональных данных" value="PersonalInfoAgreement">Согласие на обработку персональных данных</option>
                            </select>

                        }*@
                    <script>

                        var kateg = [];
                    </script>
                    @foreach (var row in Model.listFile)
                    {

                        <script>

                                kateg.push('@row.kategor_f');

                        </script>

                    }



                    <script>

                        for (var i = 0; i < kateg.length; i++)
                            console.log(kateg[i]);
                    </script>

                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listFile)
                        {
                            <li><a href="#file_@row.Id" data-toggle="tab">Файл  @row.name_f</a></li>


                        }
                    </ul>
                    <div class="tab-content">
                        @for (int i = 0; i < Model.listFile.Count; i++)
                        {
                            <div class="tab-pane fade" id="file_@Model.listFile[i].Id">

                                <input type="hidden" asp-for="listFile[i].Id" />
                                <input type="hidden" asp-for="listFile[i].id_zayavl" />


                                <table>
                                    <tr>
                                        <td>Название</td>
                                        <td>
                                            @Html.ActionLink("Скачать", "file", "user", new { name_f = Model.listFile[i].name_f, id = Model.listFile[i].id_zayavl })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Имя файла</td>
                                        <td>
                                            <input type="text" asp-for="listFile[i].name_f" value="@Model.listFile[i].name_f" readonly />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Тип файла</td>
                                        <td>
                                            <select asp-for="listFile[i].kategor_f">
                                                <option value="">Выберите категорию файла</option>
                                                <option label="Заявление о проведении аттестации" value="AttestApplication">Заявление о проведении аттестации</option>
                                                <option label="Копия аттестационного листа предыдущей аттестации" value="PrevAttestCopy">Копия аттестационного листа предыдущей аттестации</option>
                                                <option label="Раздел I" value="Section1">Раздел I</option>
                                                <option label="Раздел II" value="Section2">Раздел II</option>
                                                <option label="Раздел III" value="Section3">Раздел III</option>
                                                <option label="Раздел IV" value="Section4">Раздел IV</option>
                                                <option label="Раздел V" value="Section5">Раздел V</option>
                                                <option label="Согласие на обработку персональных данных" value="PersonalInfoAgreement">Согласие на обработку персональных данных</option>
                                            </select>

                                            <script>
                                                //  alert(kateg.length);

                                                for (var m = 0; m < kateg.length; m++) {
                                                    $('select option[value="' + kateg[m] + '"]').hide()
                                                    //   alert(kateg[m]);
                                                }

                                            </script>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        }
                        <script>
                            //только уникальные категории
                            for (var s = 0; s < kateg.length; s++) {
                                $('#listFile_' + s + '__kategor_f').change(function () {
                                    $('select option').show();
                                    var kateg1 = [];
                                    for (var ss = 0; ss < kateg.length; ss++) {
                                        var select = document.getElementById("listFile_" + ss + "__kategor_f");
                                        var val = select.value;
                                        kateg1.push(val);
                                        $('select option[value="' + kateg1[ss] + '"]').hide()
                                    }
                                })
                            }
                        </script>
                    </div>


                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                        Научно-методическая деятельность
                    </a>
                    <button style="position: absolute; right: 0.3em; top:0em; margin:0; font:28pt;" data-toggle="modal" data-target="#Nauch" form="0"><strong>+</strong></button>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listNauch_deyat)
                        {
                            <li><a href="#nauch_@row.Id" data-toggle="tab">Работа  @row.nazv</a></li>


                        }
                    </ul>
                    <div class="tab-content">



                        @for (int i = 0; i < Model.listNauch_deyat.Count; i++)
                        {
                            <div class="tab-pane fade" id="nauch_@Model.listNauch_deyat[i].Id">
                                <input type="hidden" asp-for="listNauch_deyat[i].Id" />
                                <input type="hidden" asp-for="listNauch_deyat[i].id_zayavl" />
                                <input type="hidden" asp-for="listNauch_deyat[i].el_adr" />
                                <table>
                                    <tr>
                                        <td>Период</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].period" pattern="[0-9]{4} - [0-9]{4}" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Название работы</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].nazv" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Название продукта</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].nazv_p" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Уровень</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].urov" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Статус участия</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].status" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Реализовано</td>
                                        <td>
                                            <input type="text" asp-for="listNauch_deyat[i].realiz" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Электронный адрес публикации</td>
                                        <td>
                                            <a href="@Model.listNauch_deyat[i].el_adr">@Model.listNauch_deyat[i].el_adr</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                <h4 class="panel-title" style="position: relative; padding:10px">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                        Профессиональное научное развитие
                    </a>
                    <button style="position: absolute; right: 0.3em; top:0em; margin:0; font:28pt;" data-toggle="modal" data-target="#Prof" form="0"><strong>+</strong></button>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        @foreach (var row in Model.listProfRazv)
                        {
                            <li><a href="#prof_@row.Id" data-toggle="tab">Проф  @row.nazv_doc</a></li>


                        }
                    </ul>
                    <div class="tab-content">



                        @for (int i = 0; i < Model.listProfRazv.Count; i++)
                        {
                            <div class="tab-pane fade" id="prof_@Model.listProfRazv[i].Id">
                                <input type="hidden" asp-for="listProfRazv[i].Id" />
                                <input type="hidden" asp-for="listProfRazv[i].id_zayav" />

                                <table>
                                    <tr>
                                        <td>Ученая степень</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].uch_stepen" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ученое звание</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].uch_zvanie" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Код научной специальности</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].kod_nauc_spec" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Название документа</td>
                                        <td>
                                            <select asp-for="listProfRazv[i].nazv_doc">
                                                <option value="?" selected="selected"></option>
                                                <option label="Удостоверение сданных экзаменов" value="ExamCertificate">Удостоверение сданных экзаменов</option>
                                                <option label="Справка об обучении в аспирантуре" value="PostgraduateCertificate">Справка об обучении в аспирантуре</option>
                                                <option label="Диплом" value="Diploma">Диплом</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Организация</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].org_d" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Серия</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].ser_d" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Номер документа</td>
                                        <td>
                                            <input type="text" asp-for="listProfRazv[i].non_d" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Дата выдачи</td>
                                        <td>
                                            <input type="text" id="d_v_rw_@i" asp-for="listProfRazv[i].data_vid_d" />
                                            <script>

                                                    $(function () {
                                                        /**/
                                                        $('#d_v_rw_@i').daterangepicker({

                                                            singleDatePicker: true,
                                                            locale: {
                                                                format: 'DD.MM.YYYY',
                                                                "firstDay": 1
                                                            }
                                                        });
                                                    });
                                            </script>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Zayavlen.Id" />

        <input type="hidden" asp-for="Zayavlen.id_user" />


        <input type="submit" asp-controller="User" asp-action="Update1" value="Обновить" data-toggle="tooltip" data-placement="top" title="Будут подгруженны данные из АИС Сетевой город. Ваши данные будут заменены" />


        <input type="submit" value="Сохранить" />




        <script>

            $('#formId [type="submit"]').click(function () {
                // выбираем все невидимые обязательные поля

                $('input, textarea, select').filter('[required]:hidden').each(function () {
                    // проверяем их заполненность
                    if (!$(this)[0].checkValidity()) {
                        //id collapse
                        var collId = $(this).closest('.collapse').attr('id');
                        //id taba
                        var tabId = $(this).closest('.tab-pane').attr('id');
                        // переключаем collapse
                        $('#' + collId).removeClass('in collapse');
                        $('#' + collId).addClass('collapsed');
                        // переключаем таб
                        $('.nav-tabs a[href="#' + tabId + '"]').tab('show');

                        // прерываем обработку остальных обязательных полей
                        return false;
                    }
                });



                $('input, textarea, select').filter('[pattern]').each(function () {
                    // проверяем их заполненность
                    if (!$(this)[0].checkValidity()) {
                        //id collapse
                        var collId = $(this).closest('.collapse').attr('id');
                        //id taba
                        var tabId = $(this).closest('.tab-pane').attr('id');
                        // переключаем collapse
                        $('#' + collId).removeClass('in collapse');
                        $('#' + collId).addClass('collapsed');
                        // переключаем таб
                        $('.nav-tabs a[href="#' + tabId + '"]').tab('show');

                        // прерываем обработку остальных обязательных полей
                        return false;
                    }
                });
            });

        </script>
    </form>



    <!-- Modal Obr -->
    <div class="modal fade bs-example-modal-lg" id="obr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Образование</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <form asp-action="AddObr1" asp-controller="User" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" asp-for="Zayavlen.Id" />
                        <table>
                            <tr>
                                <td>ОО</td>
                                <td>
                                    <input type="text" value="" asp-for="Obrazovan.oo" />
                                </td>
                            </tr>
                            <tr>
                                <td>Периодобучения</td>
                                <td>
                                    <input type="text" value="" asp-for="Obrazovan.period" pattern="[0-9]{4} - [0-9]{4}" />


                                </td>
                            </tr>
                            <tr>
                                <td>Муниципалитет</td>
                                <td>
                                    <input type="text" value="" asp-for="Obrazovan.mo" />
                                </td>
                            </tr>
                            <tr>
                                <td>Специальность</td>
                                <td>
                                    <input type="text" value="" asp-for="Obrazovan.special" />
                                </td>
                            </tr>
                            <tr>
                                <td>Квалификация</td>
                                <td>
                                    <input type="text" value="" asp-for="Obrazovan.kvalif" />
                                </td>
                            </tr>
                            <tr>
                                <td>Тип документа</td>
                                <td>
                                    <input type="text" value="" asp-for="Obrazovan.nazv_doc" />
                                </td>
                            </tr>
                            <tr>
                                <td>Серия</td>
                                <td>
                                    <input type="text" value="" asp-for="Obrazovan.ser_doc" />
                                </td>
                            </tr>
                            <tr>
                                <td>Номер документа</td>
                                <td>
                                    <input type="text" value="" asp-for="Obrazovan.nom_doc" />
                                </td>
                            </tr>
                            <tr>
                                <td>Дата выдачи</td>
                                <td>
                                    <input type="text" id="md_v_o" value="" asp-for="Obrazovan.data_doc" />
                                    <script>
                                        $(function () {
                                            $('#md_v_o').daterangepicker({
                                                singleDatePicker: true,
                                                locale: {
                                                    format: 'DD.MM.YYYY',
                                                    "firstDay": 1
                                                }
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>Регистрационный номер</td>
                                <td>
                                    <input type="text" value="" asp-for="Obrazovan.reg_nom" />
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="" asp-controller="User" asp-action="Save_Obr">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal Kurs -->
    <div class="modal fade bs-example-modal-lg" id="kurs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Курсы повышения квалификации</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <form asp-action="AddKurs1" asp-controller="User" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" asp-for="Zayavlen.Id" />
                        <table>
                            <tr>
                                <td>Организация</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.oo" />
                                </td>
                            </tr>
                            <tr>
                                <td>Периодобучения</td>
                                <td>

                                    <input type="text" name="mdaterange" asp-for="Obrazovan.period" />


                                    <script>

                                        $(function () {
                                            $('input[name="mdaterange"]').daterangepicker({
                                                opens: 'left',
                                                locale: {
                                                    "format": "DD.MM.YYYY",
                                                    "autoApply": true,
                                                    "applyLabel": "Выбрать",
                                                    "cancelLabel": "Отменить",
                                                    "firstDay": 1
                                                }
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>Место прохождения</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.mo" />
                                </td>
                            </tr>
                            <tr>
                                <td>Кол-во часов</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.kol_chas" pattern="^[ 0-9]+$" />
                                </td>
                            </tr>
                            <tr>
                                <td>Тема курсов</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.special" />
                                </td>
                            </tr>
                            <tr>
                                <td>Форма участия/проведения</td>
                                <td>

                                    <select asp-for="Obrazovan.kvalif">
                                        <option value="">Выберите форму проведения</option>
                                        <option label="Очная" value="FullTime">Очная</option>
                                        <option label="Дистанционная" value="Distance">Дистанционная</option>
                                        <option label="Очно-дистанционная" value="FullTimeDistance">Очно-дистанционная</option>
                                        <option label="Заочная" value="Extramural">Заочная</option>
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <td>Название документа</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.nazv_doc" />
                                </td>
                            </tr>
                            <tr>
                                <td>Серия</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.ser_doc" />
                                </td>
                            </tr>
                            <tr>
                                <td>Номер документа</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.nom_doc" />
                                </td>
                            </tr>
                            <tr>
                                <td>Дата выдачи</td>
                                <td>
                                    <input type="text" id="md_v_k" asp-for="Obrazovan.data_doc" />
                                    <script>

                                        $(function () {
                                            $('#md_v_k').daterangepicker({
                                                singleDatePicker: true,
                                                locale: {
                                                    format: 'DD.MM.YYYY',
                                                    "firstDay": 1
                                                }
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>Регистрационный номер</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.reg_nom" />
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="" asp-controller="User" asp-action="Save_Kurs">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!-- Modal Vtor -->
    <div class="modal fade bs-example-modal-lg" id="Vtor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Второе высшее образование и профессиональная переподготовка</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <form asp-action="AddVtor1" asp-controller="User" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" asp-for="Zayavlen.Id" />
                        <table>
                            <tr>
                                <td>Организация</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.oo" />
                                </td>
                            </tr>
                            <tr>
                                <td>Периодобучения</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.period" pattern="[0-9]{4} - [0-9]{4}" />
                                </td>
                            </tr>
                            <tr>
                                <td>Место прохождения</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.mo" />
                                </td>
                            </tr>
                            <tr>
                                <td>Кол-во часов</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.kol_chas" pattern="^[ 0-9]+$" />
                                </td>
                            </tr>
                            <tr>
                                <td>Вид обучения</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.vid_obuch" />
                                </td>
                            </tr>
                            <tr>
                            <tr>
                                <td>Специальность</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.special" />
                                </td>
                            </tr>
                            <tr>
                                <td>Квалификация</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.kvalif" />
                                </td>
                            </tr>
                            <tr>
                                <td>Название документа</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.nazv_doc" />
                                </td>
                            </tr>
                            <tr>
                                <td>Серия</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.ser_doc" />
                                </td>
                            </tr>
                            <tr>
                                <td>Номер документа</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.nom_doc" />
                                </td>
                            </tr>
                            <tr>
                                <td>Дата выдачи</td>
                                <td>
                                    <input type="text" id="md_v_vw_" asp-for="Obrazovan.data_doc" />
                                    <script>

                                        $(function () {
                                            $('#md_v_vw_').daterangepicker({
                                                singleDatePicker: true,
                                                locale: {
                                                    format: 'DD.MM.YYYY',
                                                    "firstDay": 1
                                                }
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <td>Регистрационный номер</td>
                                <td>
                                    <input type="text" asp-for="Obrazovan.reg_nom" />
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="" asp-controller="User" asp-action="Save_VV">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Modal Nauch -->
    <div class="modal fade bs-example-modal-lg" id="Nauch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Научно-методическая деятельность</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <form asp-action="AddVtor1" asp-controller="User" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" asp-for="Zayavlen.Id" />
                        <table>
                            <tr>
                                <td>Период</td>
                                <td>
                                    <input type="text" asp-for="Nauch_Deyat.period" pattern="[0-9]{4} - [0-9]{4}" />

                                </td>
                            </tr>
                            <tr>
                                <td>Название работы</td>
                                <td>
                                    <input type="text" asp-for="Nauch_Deyat.nazv" />
                                </td>
                            </tr>
                            <tr>
                                <td>Название продукта</td>
                                <td>
                                    <input type="text" asp-for="Nauch_Deyat.nazv_p" />
                                </td>
                            </tr>
                            <tr>
                                <td>Уровень</td>
                                <td>
                                    <input type="text" asp-for="Nauch_Deyat.urov" />
                                </td>
                            </tr>
                            <tr>
                                <td>Статус участия</td>
                                <td>
                                    <input type="text" asp-for="Nauch_Deyat.status" />
                                </td>
                            </tr>
                            <tr>
                                <td>Реализовано</td>
                                <td>
                                    <input type="text" asp-for="Nauch_Deyat.realiz" />
                                </td>
                            </tr>
                            <tr>
                                <td>Электронный адрес публикации</td>
                                <td>
                                    <input type="text" asp-for="Nauch_Deyat.el_adr" />
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="" asp-controller="User" asp-action="Save_Nauch">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal Prof -->
    <div class="modal fade bs-example-modal-lg" id="Prof" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Профессиональное научное развитие</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <form asp-action="AddVtor2" asp-controller="User" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" asp-for="Zayavlen.Id" />
                        <table>
                            <tr>
                                <td>Ученая степень</td>
                                <td>
                                    <input type="text" asp-for="ProfRazv.uch_stepen" />

                                </td>
                            </tr>
                            <tr>
                                <td>Ученое звание</td>
                                <td>
                                    <input type="text" asp-for="ProfRazv.uch_zvanie" />
                                </td>
                            </tr>
                            <tr>
                                <td>Код научной специальности</td>
                                <td>
                                    <input type="text" asp-for="ProfRazv.kod_nauc_spec" />
                                </td>
                            </tr>
                            <tr>
                                <td>Название документа</td>
                                <td>
                                    <select asp-for="ProfRazv.nazv_doc">
                                        <option value="?" selected="selected"></option>
                                        <option label="Удостоверение сданных экзаменов" value="ExamCertificate">Удостоверение сданных экзаменов</option>
                                        <option label="Справка об обучении в аспирантуре" value="PostgraduateCertificate">Справка об обучении в аспирантуре</option>
                                        <option label="Диплом" value="Diploma">Диплом</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Организация</td>
                                <td>
                                    <input type="text" asp-for="ProfRazv.org_d" />
                                </td>
                            </tr>
                            <tr>
                                <td>Серия</td>
                                <td>
                                    <input type="text" asp-for="ProfRazv.ser_d" />
                                </td>
                            </tr>
                            <tr>
                                <td>Номер документа</td>
                                <td>
                                    <input type="text" asp-for="ProfRazv.non_d" />
                                </td>
                            </tr>
                            <tr>
                                <td>Дата выдачи</td>
                                <td>
                                    <input type="text" id="md_v_rw_" asp-for="ProfRazv.data_vid_d" />
                                    <script>

                                        $(function () {
                                            /**/
                                            $('#md_v_rw_').daterangepicker({

                                                singleDatePicker: true,
                                                locale: {
                                                    format: 'DD.MM.YYYY',
                                                    "firstDay": 1
                                                }
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="" asp-controller="User" asp-action="Save_Prof">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal file-->
    <div class="modal fade bs-example-modal-lg" id="File" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Файлы</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">

                    <form asp-action="AddFile" asp-controller="User" method="post" enctype="multipart/form-data">

                        <input type="hidden" asp-for="Zayavlen.Id" />
                        <input type="text" asp-for="FileModel.name_f" id="find" />
                        <select asp-for="FileModel.kategor_f" id="file-category_AddFile" required>
                            <option value="">Выберите категорию файла</option>
                            <option label="Заявление о проведении аттестации" value="AttestApplication">Заявление о проведении аттестации</option>
                            <option label="Копия аттестационного листа предыдущей аттестации" value="PrevAttestCopy">Копия аттестационного листа предыдущей аттестации</option>
                            <option label="Раздел I" value="Section1">Раздел I</option>
                            <option label="Раздел II" value="Section2">Раздел II</option>
                            <option label="Раздел III" value="Section3">Раздел III</option>
                            <option label="Раздел IV" value="Section4">Раздел IV</option>
                            <option label="Раздел V" value="Section5">Раздел V</option>
                            <option label="Согласие на обработку персональных данных" value="PersonalInfoAgreement">Согласие на обработку персональных данных</option>
                        </select>

                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

                        <div class="file">
                            <div class="form-group">
                                <input type="file" name="uploadedFile" id="uploadedFile" class="input-file" required>
                                <label for="uploadedFile" class="btn btn-tertiary js-labelFile">
                                    <i class="icon fa fa-check"></i>
                                    <span class="js-fileName">Загрузить файл</span>
                                </label>
                            </div>
                        </div>
                        <script>
                            (function () {

                                'use strict';

                                $('.input-file').each(function () {
                                    var $input = $(this),
                                        $label = $input.next('.js-labelFile'),
                                        labelVal = $label.html();

                                    $input.on('change', function (element) {
                                        var fileName = '';
                                        if (element.target.value) fileName = element.target.value.split('\\').pop();
                                        fileName ? $label.addClass('has-file').find('.js-fileName').html(fileName) : $label.removeClass('has-file').html(labelVal);

                                        document.getElementById('find').value = fileName;


                                    });
                                });

                            })();
                        </script>


                        <input type="submit" value="Загрузить" />
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="">Сохранить изменения</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
